# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.venv/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan

# Secrets
*.pem
*.key
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
